
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.log


.venv/
env/
venv/


.vscode/
.idea/
.DS_Store
*.swp

.pytest_cache/
.coverage
.tox/


data/collectionand_queries.tar.gz


data/index/*


!data/index/.gitkeep
